# Frontend (React / Node)
node_modules/
dist/
build/
.env

# Backend (Python)
__pycache__/
*.pyc
.venv/
venv/
env/
.env
firebase-debug.log
frontend/.firebase/hosting.cHVibGlj.cache
frontend/.firebase/hosting.ZGlzdA.cache
.continue/.DS_Store
