.etf-details--container {
  width: 100%; 

  .etf-detail--header {

    display: flex;
    justify-content: space-between;
    min-height: 5rem;

    .info--container {
      flex-grow: 10;
    }

    .favorite--container {
      padding-left: 0.5rem;
      max-width: 4rem;
    }
  }


  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

}
